@import "reset.css";
@import "typographics.css";

* {
  font-family: 'Roboto';
  font-style: normal;
  color: #000000;
}

button {
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

